body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 0;
}

.header {
    background-color: #1f2937;
    padding-top:30px;
    padding-left: 150px;
    padding-bottom: 100px;
    padding-right: 150px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.secondary-header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 15px;
}

.header-link {
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-info h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
     margin-top: 50px;
}

.header-img {
    width: 600px;
    height: 150px;
    background-color: grey;
    margin: 0;
    padding: 0;
    margin-top: 70px;

    

}



.header-info p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
   
}

.secondary-header button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    margin-top: 10px;
}

.info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 30px;
    padding-right: 300px;
    padding-left: 300px;
}

.images {
    display: flex;
    gap: 30px;

}

.image {
  width: 220px;
}


.info-img {
    height: 200px;
    width: 200px;
    padding: 0;
    margin: 0;
    background-color: white;
     border: 5px solid #3882f6;
    border-radius: 20px;
}

.image p {
   display: flex;
   
}

.info h3 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    
}

.quote {
    background-color: #e5e7eb;
    padding-bottom: 150px;
    padding-top: 150px;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    
}

.quote h4 {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    padding: 0;
    margin: 0;

   
}

.quote p {
    color: black;
    font-weight: 900;
    font-size: 30px;
   margin: 0;
   padding: 0;
   align-self: flex-end;
}



.sign-up {
    background-color: white;
    
    padding-top: 150px;
    padding-left: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
}

.sign-up-text-header {
     font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.sign-up-text-txt {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

.sign-up-box {
    background-color: #3882f6;
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 100px;
}

.sign-up-btn button {
    background-color: #3882f6;
    border: 3px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    margin-top: 10px;
}


.footer {
    background-color: #1f2937;
    padding-top: 50px;
    
    padding-bottom: 50px;
  
    margin: 0;
    color: white;
    text-align: center;
}